<div>
    <mat-toolbar class="sd-bg-style ver-dim-stl">
      <span class="title-center"></span>

<div id="mySidenav" class="sidenav mt-4">
    <a href ='/registration' id="about"data-toggle="tooltip" title="Some tooltip text!">Registration<i class="fa-solid fa-file-pen right" style="float: right;"></i></a>
    <a href="#" id="blog" data-toggle="tooltip" title="Admision">Admission<i class="fa-regular fa-newspaper" style="float: right;"></i></a>
    <a href="#" id="projects">Profile Update<i class="fa-solid fa-pen" style="float: right;"></i></a>
    <a href="#" id="contact">One Stop<i class="fa-regular fa-clone"  style="float: right;"></i></a>
  </div>



</mat-toolbar>
</div>