
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step label="Tution Fee">
     <app-tution-view></app-tution-view>
    </mat-step>
    <mat-step  label="Transport">
        <app-transport-view></app-transport-view>
      </mat-step>
    <mat-step label=" Admission and Session">
      <div class="row mt-4">
      <div class="col">
        <app-session-view></app-session-view>
      </div>
      <div class="col">
        <app-admission-view></app-admission-view>
      </div>
      </div>
      
    </mat-step>
      <mat-step  label="Miscellaneous">
             <app-miscellaneous-view></app-miscellaneous-view>
   
      </mat-step>
    <!-- <mat-step>
        
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button  class="btn gr right" mat-button matStepperPrevious>Back</button> &nbsp;&nbsp;
        <button class="btn gr" mat-button (click)="stepper.reset()">Reset</button>&nbsp;&nbsp;
        </div>
    </mat-step> -->
  </mat-stepper>
