.filter-container {
    position: fixed;
    top: 18%;
    right: 0%;
    width: 50px; /* Collapsed width */
    //height: 70%; /* Adjust the height as needed */
    bottom: 0;
    background-color: #FFFFFF;
    transition: width 0.3s ease;
    //color: #f5f5f5;
    border-width: 2px;
    border-style: solid;
    border-color: #F5F5F5;

  }
  
  .filter-container.expanded {
   width: 300px; /* Expanded width */
   
  }
 
  .filter-box-stl{
    border-width: 1.8px;
    border-style: solid;
    border-color: #F5F5F5;
    padding: 1.7rem;
    border-radius: 1rem;
  }