<div>
    <!-- <mat-toolbar class="sd-bg-style ver-dim-stl"> -->
      <!-- <span class="title-center"></span> -->
<div class="menu">
    <ul>
      <li>
        <a href="#"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="has-submenu">
        <a href="#"><i class="fa-solid fa-people-line"></i></a>
        <ul class="submenu">
          <li><a [routerLink]="['/student/fee']">Fee</a></li>
          <li><a href="http://localhost:4800/">Fee</a></li>
          <!-- <li><a [routerLink]="['/student/set-fee']">Set Student Fee</a></li>
          <li><a href="#">Set Class Fee</a></li>
          <li><a href="#">Fee Details</a></li>
          <li><a href="#">Due List</a></li>
          <li><a href="#">Pay Fee</a></li> -->
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <ul class="submenu">
          <li><a href="#">Team</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Mission</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-address-book"></i></a>
      </li>
    </ul>
  </div>
<!-- </mat-toolbar> -->
</div>