<div>
    <mat-toolbar class="sd-bg-style ver-dim-stl">
      <span class="title-center"></span>

<div id="mySidenav" class="sidenav mt-4">
    <a href='student/fee-detail' id="about">Fee Details<i class="fa-solid fa-pen pt-1" style="float: right;"></i></a>
    <a href ='/student/set-student-fee' id="blog"data-toggle="tooltip" title="Some tooltip text!">Set Student Fee<i class="fa-solid fa-file-pen pt-1 pl-4" style="float: right;"></i></a>
    <a href='/class/set-class-fee' id="projects" data-toggle="tooltip" title="Admision">Set Class Fee<i class="fa-regular fa-newspaper pt-1" style="float: right;"></i></a>
    <a href='payment/student-fee' id="contact">Fee Payment<i class="fa-regular fa-clone pt-1"  style="float: right;"></i></a>
    <a href='report/fee-report' id="report">Report<i class="fa-regular fa-clone pt-1"  style="float: right;"></i></a>
  </div>
</mat-toolbar>
</div>